In [1]:
import pandas as pd

In [7]:
df_applications=pd.read_csv('C:/users/ummsa/applications(2.0).csv')
df_industries=pd.read_csv('C:/users/ummsa/industries(2.0).csv')

In [10]:
# 1.1 Removing duplicates by applicant_id
df_applications=df_applications.drop_duplicates('applicant_id')
display(df_applications)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3
1,11.30.2022 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f
2,11.30.2022 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498
3,11.30.2022 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1
4,11.30.2022 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3
...,...,...,...,...,...,...,...,...,...,...
13310,01.09.2023 11:01,12000.0,25,Чоловік,Medtech / Healthcare,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Харків чи область,01908b949a6a1eb44d1ee013ec377f9d
13311,01.09.2023 11:14,10500.0,28,Чоловік,Blockchain,Married,5.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,6599ba629cfcfe8ac42c7d31c13f62de
13312,01.09.2023 11:19,5790.0,25,Чоловік,Blockchain,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Дніпро чи область,e57f181bec5b11870a541c43d9b960f7
13313,01.09.2023 11:28,13500.0,31,Чоловік,Mobile,Single,8.0,Середня,Одеса чи область,a340c62a1226509949ef60df10a7d726
13314,01.09.2023 11:38,12600.0,32,Чоловік,High Load Systems,Married,11.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,a36a922c50b554cad6cd0eb98a5eaad8

In [11]:
list(df_applications.columns)

['Applied at',
 'Amount',
 'Age',
 'Gender',
 'Industry',
 'Marital status',
 'External Rating',
 'Education level',
 'Location',
 'applicant_id']

In [43]:
# Filling in missing values in External Rating and Education level
df_applications=df_applications.fillna({'External Rating' : 0, 'Education level' : 'Середня'})

#pd.set_option('display.max_rows', None)
#pd.reset_option('display.max_rows')

display(df_applications)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3
1,11.30.2022 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f
2,11.30.2022 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498
3,11.30.2022 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1
4,11.30.2022 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3
...,...,...,...,...,...,...,...,...,...,...
13310,01.09.2023 11:01,12000.0,25,Чоловік,Medtech / Healthcare,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Харків чи область,01908b949a6a1eb44d1ee013ec377f9d
13311,01.09.2023 11:14,10500.0,28,Чоловік,Blockchain,Married,5.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,6599ba629cfcfe8ac42c7d31c13f62de
13312,01.09.2023 11:19,5790.0,25,Чоловік,Blockchain,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Дніпро чи область,e57f181bec5b11870a541c43d9b960f7
13313,01.09.2023 11:28,13500.0,31,Чоловік,Mobile,Single,8.0,Середня,Одеса чи область,a340c62a1226509949ef60df10a7d726
13314,01.09.2023 11:38,12600.0,32,Чоловік,High Load Systems,Married,11.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,a36a922c50b554cad6cd0eb98a5eaad8

In [44]:
# 3. Adding industry rankings
df_applications_merged=df_applications.merge(df_industries, on = 'Industry', how = 'left')
df_applications_merged

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3,0
1,11.30.2022 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f,20
2,11.30.2022 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498,10
3,11.30.2022 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1,15
4,11.30.2022 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3,15
...,...,...,...,...,...,...,...,...,...,...,...
13273,01.09.2023 11:01,12000.0,25,Чоловік,Medtech / Healthcare,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Харків чи область,01908b949a6a1eb44d1ee013ec377f9d,15
13274,01.09.2023 11:14,10500.0,28,Чоловік,Blockchain,Married,5.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,6599ba629cfcfe8ac42c7d31c13f62de,0
13275,01.09.2023 11:19,5790.0,25,Чоловік,Blockchain,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Дніпро чи область,e57f181bec5b11870a541c43d9b960f7,0
13276,01.09.2023 11:28,13500.0,31,Чоловік,Mobile,Single,8.0,Середня,Одеса чи область,a340c62a1226509949ef60df10a7d726,15
13277,01.09.2023 11:38,12600.0,32,Чоловік,High Load Systems,Married,11.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,a36a922c50b554cad6cd0eb98a5eaad8,15

In [63]:
# Determining the application ranking

# Conditions for calculating the ranking of each application
# age
R1=((df_applications_merged.Age>35)&(df_applications_merged.Age<55))*20

# Checking whether it is a holiday/weekend
df_applications_merged['Applied at']=pd.to_datetime(df_applications_merged['Applied at'], format='mixed')
R2=(df_applications_merged['Applied at'].dt.dayofweek.between(0,4))*20 

# Marital status
R3=(df_applications_merged['Marital status'] == 'Одружений')*20

# Locatin
R4=(df_applications_merged['Location'] == 'Київ чи область')*10

# Check External Rating
R5=(df_applications_merged['External Rating'] >= 7)*20
R6=(df_applications_merged['External Rating'] <= 2)*(-20)

# Data Frame generated
df_rating= pd.DataFrame({
    'R1': R1,
    'R2': R2,
    'R3': R3,
    'R4': R4,
    'R5': R5,
    'R6': R6,
    'R7': df_applications_merged.Score})
df_rating['total']=df_rating.sum(axis=1)
df_rating

       R1  R2  R3  R4  R5  R6  R7  total
0       0  20   0   0  20   0   0     40
1      20  20   0   0   0   0  20     60
2       0  20   0  10   0   0  10     40
3       0  20   0   0   0 -20  15     15
4       0  20   0   0   0   0  15     35
...    ..  ..  ..  ..  ..  ..  ..    ...
13273   0  20   0   0   0   0  15     35
13274   0  20   0   0   0   0   0     20
13275   0  20   0   0   0   0   0     20
13276   0  20   0   0  20   0  15     55
13277   0  20   0   0  20   0  15     55

[13278 rows x 8 columns]

In [71]:
df_applications_merged ['Total rating']= df_rating['total']

# Replacing values below 0 and above 100
df_applications_merged.loc[df_applications_merged ['Total rating']<0, ['Total rating']]=0
df_applications_merged.loc[df_applications_merged ['Total rating']>100, ['Total rating']]=100

# Checking for missing values Amount and External Rating = 0
df_applications_merged.loc[(df_applications_merged['External Rating'] == 0)
                            &(df_applications_merged['Amount'].isnull()), ['Total rating']]=0

# 4.Finding row indices where in Total Rating 0 and delete them from DataFrame
row_totalrating_null = df_applications_merged.index[df_applications_merged ['Total rating'] == 0]
df_applications_final = df_applications_merged.drop(row_totalrating_null)
df_applications_final

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,Total rating
0,2022-11-30 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3,0,40
1,2022-11-30 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f,20,60
2,2022-11-30 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498,10,40
3,2022-11-30 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1,15,15
4,2022-11-30 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3,15,35
...,...,...,...,...,...,...,...,...,...,...,...,...
13273,2023-01-09 11:01:00,12000.0,25,Чоловік,Medtech / Healthcare,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Харків чи область,01908b949a6a1eb44d1ee013ec377f9d,15,35
13274,2023-01-09 11:14:00,10500.0,28,Чоловік,Blockchain,Married,5.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,6599ba629cfcfe8ac42c7d31c13f62de,0,20
13275,2023-01-09 11:19:00,5790.0,25,Чоловік,Blockchain,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Дніпро чи область,e57f181bec5b11870a541c43d9b960f7,0,20
13276,2023-01-09 11:28:00,13500.0,31,Чоловік,Mobile,Single,8.0,Середня,Одеса чи область,a340c62a1226509949ef60df10a7d726,15,55
13277,2023-01-09 11:38:00,12600.0,32,Чоловік,High Load Systems,Married,11.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,a36a922c50b554cad6cd0eb98a5eaad8,15,55

In [74]:
# 5. Average application rating per week

df_applications_final['year_week'] = (df_applications_final['Applied at'].dt.isocalendar().year.astype(str) + '-' +
    df_applications_final['Applied at'].dt.isocalendar().week.astype(str))
df_applications_week = (df_applications_final
                        .groupby(df_applications_final['year_week'])['Total rating']
                        .mean()
                        .reset_index(name='Average Rating')
                       )
df_applications_week['Average Rating']=round(df_applications_week['Average Rating'], 2)
df_applications_week

  year_week  Average Rating
0   2022-48           38.66
1   2022-49           37.92
2   2022-50           38.41
3   2022-51           35.29
4   2022-52           38.45
5    2023-1           38.33
6    2023-2           39.38